button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

img, legend {
  max-width: 100%;
}

img, sub, sup {
  position: relative;
}

.follow-by-email-submit, .waves-effect {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.invisible, .thumb:before {
  visibility: hidden;
}

.post-body table, table {
  border-spacing: 0;
}

b, dl, h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

a, abbr, acronym, address, applet, b, big, blockquote, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  &:visited {
    background-color: transparent;
    text-decoration: none;
  }
}

abbr {
  text-decoration: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    height: auto;
  }
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

.header-wrapper {
  h1, h3 {
    display: none;
  }
}

.hidden, .input-required .hide, .replaced, template {
  display: none;
}

.clear {
  clear: both;
}

.section {
  margin: 0;
  padding: 0;
}

.widget {
  margin: 0;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  border: 0;
}

body {
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #f2f2f2;
  line-height: 22px;
  word-wrap: break-word;
  animation: fadeInOpacity 2s;
}

.header-fixed, .top-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 10px 29px -14px rgba(168, 165, 168, 0.7);
}

#button-submit i, .head-search, .tg-1, .tg-2 {
  position: relative;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.post-body table, table {
  border-collapse: collapse;
}

.row {
  max-width: 1260px;
}

.content-wrapper, .footer-container, .header-wrapper {
  margin: 0 auto;
}

.header-fixed {
  height: 55px;
  width: 100%;
}

.mg-top {
  margin-top: 5.2em;
  clear: both;
}

.Header img {
  margin: 2px 0 0;
  width: 155px;
  height: 48px;
  top: 2px;
}

.top-container {
  width: 100%;
  clear: both;
  height: 56px;
}

.tg-1, .tg-2 {
  top: -9px;
  cursor: pointer;
  padding: 14px 5px 2px;
  border-radius: 100%;
  z-index: 1003;
}

.tg-1 svg, .tg-2 svg {
  fill: #888;
}

.header-wrapper .widget {
  float: left;
  &:nth-of-type(1) {
    width: 30%;
  }
  &:nth-of-type(2) {
    width: 40%;
  }
  &:nth-of-type(3) {
    width: 30%;
  }
}

input:focus {
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder {
    color: transparent;
  }
}

#searchbox input[type=text] {
  box-sizing: border-box;
  background: 0 0;
  border: 1px solid #ddd;
  margin: 12px 0 0;
  border-radius: 2px;
  padding: 7px 10px;
  color: #222;
  width: 80%;
  float: left;
  vertical-align: top;
  &:focus {
    transition: all .25s ease;
    outline: 0;
    border: 1px solid #b9b9b9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

#button-submit {
  box-sizing: border-box;
  cursor: pointer;
  background: rgba(245, 245, 245, 0.55);
  outline: 0;
  border-style: solid;
  border-color: #ddd;
  margin: 12px 0 0;
  padding: 7px 28px 8px;
  color: #a5a5a5;
  font-size: 14px;
  border-width: 1px 1px 1px 0;
  i {
    top: 2px;
  }
}

.input-required > label {
  z-index: -1;
  position: absolute;
  left: 10px;
  top: 18px;
  color: #6f6f6f;
  font-size: 95%;
  i.fa-search:before {
    font-size: 12px !important;
    margin-right: 2px;
  }
}

#rc, .tb-menu, .tg-menu, .tg-noti-menu {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.head-right {
  text-align: right;
  margin-top: 11px;
  .head-btn {
    display: inline-block;
    margin-right: 10px;
    padding: 4px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    svg {
      width: 24px;
      height: 24px;
      fill: #888;
    }
  }
  .head-auth {
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
    margin-right: 0;
    position: relative;
    top: -2px;
  }
}

.tb-menu, .tg-menu {
  border-radius: 2px;
  position: absolute;
}

.tb-menu {
  padding: 10px 0 0;
  top: 2px;
  right: 0;
  background: #fff;
  overflow: hidden;
  z-index: 10;
  width: 220px;
  height: auto;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53.3%, 0.4);
  }
}

.caret-inner {
  right: 12px;
  z-index: 11;
  height: 0;
  width: 0;
}

.caret-outer {
  right: 12px;
  z-index: 11;
  height: 0;
  width: 0;
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -8px;
}

.caret-inner {
  border-color: transparent transparent #fff;
  top: -7px;
}

.tg-menu {
  padding: 15px;
  top: 11px;
  right: 0;
  background: #fff;
  overflow: hidden;
  z-index: 10;
  min-width: 265px;
  height: auto;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
}

.tg-menu-row {
  margin: 0 0 15px;
  a {
    margin-bottom: 15px;
    padding: 10px 0 5px;
    border-radius: 5px;
    float: left;
    width: calc(100% / 3);
    &:hover {
      background: #f5f5f5;
    }
  }
  i {
    font-size: 2.4em;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    color: #6f6e6e;
  }
  span {
    color: #000;
  }
}

.tg-menu::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53.3%, 0.4);
}

.caret-inner-g {
  right: 20px;
  z-index: 11;
  height: 0;
  width: 0;
}

.caret-outer-g {
  right: 20px;
  z-index: 11;
  height: 0;
  width: 0;
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: 2px;
}

.caret-inner-g {
  border-color: transparent transparent #fff;
  top: 3px;
}

.caret-inner, .caret-inner-g, .caret-outer, .caret-outer-g {
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  display: none;
}

#rc-wrap, .hh-right-author, .hh-right-author-g, .tg-noti, .thumb {
  position: relative;
}

.hh-author-profile {
  text-align: center;
}

.hh-author-list {
  line-height: 2;
  p {
    text-align: left;
  }
  a {
    color: #464646;
  }
}

.hh-author-profile a {
  color: #464646;
}

.hh-author-list a {
  padding: 3px 20px;
  display: block;
  font-weight: 700;
  &:hover {
    background: #f4f4f4;
  }
  i {
    margin: 0 3px 0 0;
  }
}

.hh-author-profile a p.bigger {
  font-weight: 700;
  font-size: 17px;
}

.tb-menu {
  .hh-author-list {
    border-bottom: 1px solid #eee;
    padding: 0;
  }
  .hh-author-profile {
    border-bottom: 1px solid #eee;
    padding: 0 0 10px;
  }
}

.hh-right-author-g {
  text-align: center;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .head-right .head-btn.head-search {
    display: none;
  }
}

.tb-menu, .tg-menu {
  display: none;
}

#rc-wrap, .tg-noti {
  display: inline-block;
}

#rc, .noti-inner, .noti-outer, .rc-inner, .rc-outer, .tg-noti-menu {
  position: absolute;
  display: none;
}

#rc, .tg-noti-menu {
  border-radius: 2px;
  padding: 15px 20px;
  top: 11px;
  right: 0;
  background: #fff;
  overflow: hidden;
  z-index: 10;
  width: 300px;
  max-height: 440px;
  overflow-y: auto;
  text-align: left;
}

.noti-inner, .noti-outer, .rc-inner, .rc-outer {
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  right: 20px;
  z-index: 11;
  height: 0;
  width: 0;
}

.noti-inner, .rc-inner {
  border-color: transparent transparent #fff;
  top: 3px;
}

.noti-outer, .rc-outer {
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: 2px;
}

.ripple-css:after, .ripple-js {
  top: 0;
  left: 0;
  pointer-events: none;
}

#rc {
  &::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53.3%, 0.4);
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  .rc-content {
    .rc-img {
      margin-right: 12px;
      float: left;
      img {
        width: 36px;
        height: 36px;
        margin-top: 5px;
        border-radius: 100%;
      }
    }
    margin-bottom: 15px;
    .rc-user a {
      font-size: 14px;
      font-weight: 700;
      color: #111;
    }
    .rc-summary {
      font-size: 14px;
      display: block;
    }
  }
}

.feed-view .main-wrapper h3.post-title, .ft-title.no-thumb {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ripple-js {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: inherit;
  animation: ripple-shadow-js .4s forwards;
  -webkit-animation: ripple-shadow-js .4s forwards;
}

.rippleWave-js {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  background: rgba(255, 255, 255, 1);
  opacity: .45;
  animation: ripple-js 2s forwards;
  -webkit-animation: ripple-js 2s forwards;
}

@keyframes ripple-shadow-js {
  0%,100% {
    box-shadow: 0 0 0 transparent;
  }

  20% {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }
}


@keyframes ripple-js {
  to {
    transform: scale(24);
    opacity: 0;
  }
}


.feed-view .post-outer-container {
  float: left;
  width: 32%;
  padding: 0 2% 0 0;
  margin-bottom: 25px;
}

.featured-box .widget:nth-of-type(2n) {
  padding: 0;
}

.feed-view .post-outer-container {
  &:nth-of-type(3n) {
    padding: 0;
  }
  &:nth-of-type(3n+1) {
    clear: both;
  }
}

.thumb {
  position: relative;
  width: 100%;
  height: 170px;
  img {
    width: 100%;
    height: 100%;
  }
}

.feed-view {
  .main-wrapper h3.post-title {
    margin: 1em 0;
    font-size: 15px;
    -webkit-line-clamp: 2;
    height: 44px;
    padding-right: 5px;
  }
  img.avatar-author {
    position: relative;
    border-radius: 100%;
    margin-right: 10px;
    float: left;
  }
}

.item-view img.avatar-author {
  position: relative;
  border-radius: 100%;
  margin-right: 10px;
  float: left;
}

.feed-view {
  h3.post-title a {
    color: #000;
  }
  img.avatar-author {
    width: 30px;
    height: 30px;
    top: 2px;
  }
}

.item-view img.avatar-author {
  width: 40px;
  height: 40px;
  top: 5px;
}

.feed-view {
  #meta-post {
    line-height: normal;
  }
  a.g-profile {
    color: #000;
    font-weight: 700;
    display: block;
    font-size: 13px;
  }
  .published-post {
    font-size: 13px;
    display: block;
    margin: 5px 0 0;
  }
}

.item-view {
  a.g-profile {
    color: #000;
    font-weight: 700;
    font-size: 15px;
  }
  .published-post {
    font-size: 14px;
    display: block;
    margin: 5px 0 0;
  }
}

#BackToTop, .footer-container {
  font-size: 17px;
  text-align: center;
}

.snippet-thumbnail {
  padding-bottom: 18px;
  box-shadow: 5px 10px 29px -14px rgba(168, 165, 168, 0.7);
}

#BackToTop {
  overflow: hidden;
  position: fixed;
  transform: scale(0);
  z-index: 1005;
  right: 4px;
  bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 35px;
  height: 33px;
  color: #000;
  line-height: 33px;
  cursor: pointer;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

.ripple-css, .waves-effect {
  position: relative;
  overflow: hidden;
}

#BackToTop {
  i {
    color: #000;
  }
  &:hover {
    transform: scale(1.1) !important;
  }
  &.active {
    transform: scale(1);
  }
}

.waves-effect {
  -ms-user-select: none;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity,transform;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
  &.waves-light {
    background-color: rgba(255, 255, 255, 0.45);
  }
}

.ripple-css {
  transform: translate3d(0, 0, 0);
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s,opacity 1s;
  }
}

.breadcrumbs, .footer-container h3 {
  display: none;
}

.ripple-css:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.footer-container {
  margin: .7em 0 0;
  a {
    color: #555;
  }
}

#footer {
  padding: 10px 0 20px;
}

.thumb {
  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    line-height: 15px;
    width: 15px;
    height: 15px;
    font-size: 7px;
    color: #fff;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.7);
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 5;
    border-radius: 2px;
    transform: scale(0);
    transition: all .3s linear;
  }
  &:hover {
    img {
      transition: all .3s ease-in-out;
    }
    &:before {
      transition: all .3s ease-in-out;
      visibility: visible;
    }
  }
}

.tooltip, youtube div {
  visibility: visible;
}

.thumb {
  &:hover {
    > a:before {
      opacity: .3;
    }
    &:before {
      transform: scale(2);
    }
  }
  > a:before {
    height: 100%;
    background-color: #000;
    position: absolute;
    content: '';
    width: 100%;
    opacity: 0;
    z-index: 1;
    top: 0;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }
}

.featured-box {
  background: #fff;
  box-sizing: border-box;
}

.feed-view {
  .Blog {
    background: #fff;
    box-sizing: border-box;
  }
  #blog-pager {
    clear: both;
  }
}

.load-more {
  clear: both;
  text-align: center;
}

.feed-view .main-wrapper {
  float: left;
  width: 68.5%;
}

.ft-title {
  a {
    color: #000;
    font-size: 15px;
    font-family: inherit;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover {
      color: #08f;
    }
  }
  &.no-thumb {
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin: 0 0 10px;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px dashed #f6f6f6;
  }
}

.PopularPosts h3.post-title, .os-title a {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ft-title.no-thumb:last-child {
  border: 0;
}

.featured-box {
  h3.title a {
    color: #000;
  }
  .widget {
    &:nth-of-type(2n+1) {
      clear: both;
      margin: 0 0 1.5em;
    }
    float: left;
    width: 49%;
    box-sizing: border-box;
    padding: 0 2% 0 0;
  }
  margin: 0 0 1em;
  padding: 1em 1.5em 0;
  width: 100%;
  overflow: hidden;
}

.feed-view {
  .Blog {
    padding: 1em 1.5em;
    margin: 0 0 1.5em;
    overflow: hidden;
  }
  .sidebar-container {
    float: right;
    width: 30%;
    .widget {
      background: #fff;
      padding: 1em 1.5em .5em;
      box-sizing: border-box;
    }
  }
}

.item-view {
  .sidebar-container .widget {
    background: #fff;
    padding: 1em 1.5em .5em;
    box-sizing: border-box;
  }
  .main-wrapper {
    box-sizing: border-box;
    float: right;
    width: 68.5%;
  }
  .sidebar-container {
    float: left;
    width: 30%;
  }
}

.widget .post-body {
  ol {
    margin: 5px 0;
    padding: 0 1em 0 2em;
    line-height: 1.5;
  }
  ul {
    margin: 5px 0;
    padding: 0 1em 0 2em;
    line-height: 1.5;
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

.item-view .post-body {
  font-size: 16px;
  letter-spacing: .015rem;
  line-height: 1.6;
  color: #000;
}

.separator {
  margin: 0 !important;
  a {
    margin: 0 !important;
  }
}

.post-body {
  table {
    word-break: normal;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    caption, td {
      border: 1px solid #ddd;
      padding: 5px 10px;
      text-align: left;
      vertical-align: top;
    }
    th {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      vertical-align: top;
    }
  }
  td, th {
    vertical-align: top;
    text-align: left;
    padding: 3px 5px;
  }
  table tr:nth-child(even) > td {
    background-color: #f9f9f9;
    &:hover {
      background-color: #fbfbfb;
    }
  }
  th {
    background: #fff;
    &:hover {
      background: #fdfdfd;
    }
  }
}

.res-table {
  overflow-x: auto;
}

.PopularPosts .post:last-child, .author-box {
  overflow: hidden;
}

.post-body {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    color: #222;
  }
}

.PopularPosts img:hover {
  cursor: pointer;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all .3s ease-in-out;
}

.post-body img {
  &:hover {
    cursor: pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all .3s ease-in-out;
  }
  border-radius: 4px;
  -webkit-box-shadow: (-6px) 6px 77px -17px rgba(199, 199, 199, 1);
  -moz-box-shadow: (-6px) 6px 77px -17px rgba(199, 199, 199, 1);
  box-shadow: (-6px) 6px 77px -17px rgba(199, 199, 199, 1);
}

.item-view {
  #post-meta {
    margin: 0 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
  }
  h1.post-title {
    line-height: 1.3;
    font-size: 22px;
    margin: .67em 0;
  }
}

.cmm-tabs .content-tab {
  background-color: transparent;
  padding: 0;
}

.cmm-tabs-header {
  height: 32px;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 2px solid rgba(221, 221, 221, 0.2);
  h3 {
    display: inline-block;
    margin: 0;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    height: 32px;
    line-height: 32px;
    padding-left: 1px;
  }
}

.simplyTab .cmm-tabs-header .wrap-tab {
  float: right;
}

.cmm-tabs-header .wrap-tab a {
  height: auto;
  line-height: 32px;
  padding: 0 8px;
  font-size: 14px;
  display: inline-block;
}

.cmm-tabs.simplyTab .wrap-tab li a, .tab-opt li a {
  font-weight: 700;
  height: 32px;
  text-transform: uppercase;
}

.cmm-tabs-header .wrap-tab li {
  float: left;
  width: auto;
}

.cmm-tabs.simplyTab .wrap-tab, .showpageOf {
  float: right;
}

.cmm-tabs.simplyTab {
  .content-tab {
    background-color: transparent;
    padding: 0;
    margin-top: 0;
  }
  .wrap-tab li a {
    letter-spacing: .03rem;
    font-family: Roboto,sans-serif;
    color: #000;
    font-size: 14px;
  }
}

.posts-title h2 a:before {
  margin-right: 10px;
}

.cmm-tabs.simplyTab .wrap-tab li {
  padding: 0;
  line-height: 0;
  margin-left: 0;
  list-style: none;
  a.activeTab {
    border-bottom: 2px solid #08f;
    color: #08f;
  }
}

.dotted:before {
  content: "-";
  margin: 0 10px;
}

#post-meta a {
  color: #000;
}

.post-lastUpdated {
  margin-bottom: 20px;
}

.item-view .hh-img-top {
  display: none;
}

.sidebar-container h3.title {
  clear: both;
  padding: 0 0 5px;
  margin: 0 0 25px;
  border-bottom: 2px solid rgba(230, 230, 230, 0.38);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.PopularPosts {
  img {
    float: left;
    width: 160px;
    height: 110px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .snippet-thumbnail {
    clear: both;
    padding-bottom: 0;
    box-shadow: none;
  }
  .post {
    clear: both;
  }
}

.post-header {
  line-height: normal;
}

.PopularPosts {
  h3.post-title {
    font-size: 15px;
    margin: 10px 0 5px;
    overflow: hidden;
    max-height: 60px;
    display: -webkit-box;
    line-height: 1.345;
    a {
      color: #3e3e3e;
    }
  }
  p.byline {
    &.post-author.vcard a, &.post-timestamp a {
      color: #3e3e3e;
    }
    &.post-author.vcard a, &.post-timestamp a {
      font-size: 13px;
      font-weight: 400;
    }
    &.post-author.vcard {
      a:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f5ad";
        color: #555;
        width: 25px;
        float: left;
        height: 30px;
        line-height: 38px;
      }
      margin: 0;
    }
    &.post-timestamp {
      margin: 0;
    }
  }
}

.sidebar-container .widget {
  margin-bottom: 1.5em;
  clear: both;
}

.config {
  display: none;
}

.social-share-meta {
  margin-top: -5px;
  float: right;
  a {
    margin: 0 2px;
  }
  .fac-art-fb i {
    color: #3a589e;
  }
  .twi-art-tw i {
    color: #429cd6;
  }
  .goo-art-gg i {
    color: #df4b37;
  }
  .fac-art-fb {
    color: #3a589e;
    border-bottom: 2px solid #3a589e;
    padding: 0 10px 5px;
  }
  .twi-art-tw {
    color: #429cd6;
    border-bottom: 2px solid #429cd6;
    padding: 0 6px 5px;
  }
  .goo-art-gg {
    color: #df4b37;
    border-bottom: 2px solid #df4b37;
    padding: 0 3px 5px 8px;
  }
}

.label-head {
  margin: 0 0 10px;
}

.label-title {
  display: inline-block;
}

.author-box {
  margin: 1.5em 0;
}

.label-box.show:hover, pre.fix {
  overflow: auto;
}

blockquote {
  padding: 0 15px;
  margin: 15px 0;
  border-left: 4px solid #333;
  &:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    content: "\f10d";
  }
  &:after {
    margin-left: 10px;
    content: "\f10e";
  }
}

.social-counter li {
  float: left;
  width: calc(50% - 5px);
  margin: 10px 0 0;
  &:nth-child(1), &:nth-child(2) {
    margin-top: 0;
  }
  &:nth-child(even) {
    float: right;
  }
  a {
    display: block;
    height: 34px;
    font-size: 13px;
    color: #fff;
    line-height: 34px;
    border-radius: 2px;
    transition: opacity .17s;
  }
}

.buy, .demo, .down {
  display: inline-block;
  &:before {
    display: inline-block;
  }
}

.social a:before {
  display: inline-block;
}

.buy:before, .demo:before, .down:before {
  margin-right: 5px;
  line-height: normal;
  font-style: normal;
  font-family: "Font Awesome 5 Free","Font Awesome 5 Brands";
}

.buy, .demo, .down {
  border-radius: 3px;
  letter-spacing: normal;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
}

.demo:before {
  content: "\f06e";
  font-weight: 900;
}

.down:before {
  content: "\f381";
  font-weight: 900;
}

.buy, .demo, .down, .hljs-strong {
  font-weight: 700;
}

.buy {
  &:before {
    content: "\f16b";
  }
  background: #db4a39;
}

.demo, .down {
  background: #0064b2;
}

.demo:hover, .down:hover {
  background: rgba(0, 100, 178, 0.9);
}

.ch {
  position: absolute;
  text-align: right;
  top: -10px;
  right: 6px;
}

.ct {
  cursor: pointer;
}

.post-body .copy-text {
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  padding: 8px 10px;
  background: #000;
  border: 1px solid #666;
  border-radius: 100%;
  &:before {
    font-family: "Font Awesome 5 Free";
    content: "\f24d";
    display: inline-block;
    font-size: 13px;
  }
}

.hljs, .tooltip {
  display: block;
}

pre {
  code, copy, out {
    display: block;
  }
}

.post-body .copy-text:hover {
  color: #fff;
  background: #333;
}

pre {
  white-space: pre;
  padding-right: 15px;
  position: relative;
}

.follow-by-email-submit, .vk-btn {
  white-space: nowrap;
  cursor: pointer;
}

pre {
  code, copy, out {
    max-height: 400px;
    font-size: 14px;
    text-align: left;
    overflow: auto;
    border: 0;
    margin: auto;
    padding: 16px;
    line-height: 21px;
  }
}

#blog-pager, #cse-search-box, .author-ico li a, .embed-container, .hh-related-posts, .label-head, .os-title a, .youtube-inner {
  overflow: hidden;
}

.follow-by-email-wrap, .os-img, .os-item, .tooltip-inner {
  text-align: center;
}

#footer {
  color: #fff;
  a {
    color: #fff;
  }
}

#search-box-mobile input[type=text]:active, .footer-lower h3.title, .footer-wrap, .friend-widget li a, .search-text {
  color: #fff;
}

.hljs-emphasis {
  font-style: italic;
}

.follow-by-email-container, .footer-lower-container {
  margin: 0 auto;
}

.follow-by-email-submit {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  background: #fff;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.follow-by-email-wrap {
  margin: 20px 0 0;
  padding: 1em 0 2em;
}

.footer-wrap {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIAQMAAACXljzdAAAAA1BMVEUuLTSUN/hqAAAAAXRSTlO99TYXVwAAABxJREFUWMPtwYEAAAAAw6D7U19hANUAAAAAAKIDFFAAARZNHj8AAAAASUVORK5CYII=), url(//lh3.ggpht.com/-25QMVxS6j_Y/W3G0WtJPpCI/AAAAAAAAHOI/b-5KbXf8OskpUmG-uBmrec9ukhvywtMQACLcBGAs/h0/hung1001-2.png);
  background-size: cover;
}

.follow-by-email h3.title {
  margin: 1em 0;
  color: #fff;
  font-size: 28px;
  letter-spacing: .05em;
  text-transform: uppercase;
}

input.follow-by-email-address {
  padding: 9px 10px;
  border: 0;
  border-radius: 4px;
  width: 40%;
}

.footer-lower {
  .widget {
    float: left;
    box-sizing: border-box;
    width: calc(100% / 4);
    padding-right: 2%;
    &:nth-of-type(4) {
      padding: 0;
    }
  }
  h3.title {
    margin: 1em 0;
    &:before {
      display: inline-block;
      margin-right: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      content: '';
      vertical-align: baseline;
      padding: 0;
    }
  }
}

.footer-author-image img {
  float: left;
  margin-right: 10px;
  border-radius: 100%;
}

.contact-widget {
  i {
    margin-right: 10px;
  }
  line-height: 1.8;
}

.friend-widget {
  li {
    list-style: none;
    a:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f007";
      margin-right: 10px;
    }
  }
  line-height: 1.7;
}

.featured-box h3.title, h3.hh-title {
  clear: both;
  padding: 0 0 5px;
  margin: 0 0 25px;
  border-bottom: 2px solid rgba(230, 230, 230, 0.38);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.featured-box h3.title span, h3.hh-title span {
  padding: 0 0 .468em;
  border-bottom: 2px solid #111;
}

#cse-search-box {
  #showsearch2, button i {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    top: 11px;
    border-radius: 100%;
  }
}

#search-box {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  &.shows {
    visibility: visible;
    opacity: 1;
  }
}

[data-tooltip]:hover {
  &:after, &:before {
    visibility: visible;
    opacity: 1;
  }
}

.dark, youtube {
  visibility: hidden;
}

#search-box.shows {
  z-index: 1005;
}

#cse-search-box {
  height: 56px;
  line-height: 56px;
  background-color: #fff;
  color: #444;
}

#search-text {
  border-width: 0;
  background: 0 0;
  padding: 0 20px 0 10px;
}

#cse-search-box {
  button i {
    right: 12px;
  }
  #showsearch2 {
    left: 12px;
  }
}

#search-box input[type=text] {
  width: 100%;
  padding-left: 60px;
  line-height: 35px;
  color: #222;
  outline: 0;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.author-title a {
  color: #000;
}

.PopularPosts h3.post-title a:hover, .featured-box h3.title a:hover {
  transition: .3s;
  color: #08f;
}

.feed-view h3 {
  &.featured-title a:hover, &.post-title a:hover {
    transition: .3s;
    color: #08f;
  }
}

.footer-container a:hover, .friend-widget li a:hover, .list-label-widget-content li a:hover {
  transition: .3s;
  color: #08f;
}

#os-close:hover, .displaypageNum a, .pagecurrent, .showpage a, .showpageOf {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
}

.head-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-top: 17px;
  display: inline-block;
}

.youtube-wrap {
  width: 100%;
  max-width: 650px;
  margin: 15px auto;
}

.youtube-inner {
  position: relative;
  padding-bottom: 43%;
  padding-top: 0;
  height: 0;
  border-image: url(https://i.imgur.com/TktXOMG.png) 50 233 112 228 stretch stretch;
  border-color: transparent;
  border-width: 27px 76px 55px;
  border-style: inset;
  embed, iframe, object {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }
}

#fb-plugin {
  position: relative;
}

.label-head {
  position: relative;
  a {
    position: relative;
  }
}

@media all and (max-width: 500px) {
  .youtube-inner {
    border-width: 20px 62px 40px;
  }
}

@media all and (max-width: 400px) {
  .youtube-inner {
    border: none !important;
  }
}

.PopularPosts img, .feed-view .featured-img, .thumb img {
  border-radius: 2px;
}

.displaypageNum a:hover, .pagecurrent, .showpage a:hover, .showpageOf {
  text-decoration: none;
  color: #fff;
}

.displaypageNum a, .pagecurrent, .showpage a, .showpageOf {
  cursor: pointer;
  transition: all .25s ease;
  font-size: 13px;
  padding: 5px 10px;
  margin-right: 5px;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.displaypageNum a, .showpage a {
  padding: 5px 10px;
}

.showpageOf {
  float: right;
  padding: 2px 10px;
}

.displaypageNum a:hover, .showpage a:hover {
  text-decoration: none;
  color: #000;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E0E0), to(#F1F1F1));
  background: -webkit-linear-gradient(top, #F1F1F1, #E0E0E0);
  background: -moz-linear-gradient(top, #F1F1F1, #E0E0E0);
  background: -ms-linear-gradient(top, #F1F1F1, #E0E0E0);
  background: -o-linear-gradient(top, #F1F1F1, #E0E0E0);
}

#blog-pager {
  padding: 10px 0 5px;
  .pagecurrent {
    font-weight: 700;
    color: #c31c23;
  }
}

.blog-pager {
  clear: both;
  background: 0 0;
}

#blog-pager .pages {
  border: none;
  -webkit-box-shadow: 0 5px 3px -1px rgba(50, 50, 50, 0.53);
  -moz-box-shadow: 0 5px 3px -1px rgba(50, 50, 50, 0.53);
  box-shadow: 0 5px 3px -1px rgba(50, 50, 50, 0.53);
}

.post-info {
  margin: 1.5em 0;
  font-size: 15px;
  line-height: 1.9;
  h3.hh-title {
    margin: 0 0 10px;
    span {
      padding: 0 0 .63em;
      border-bottom: 2px solid #111;
    }
  }
  a {
    color: #111;
  }
}

.fb-btn-feed, .fb-btn-send, .fb-btn-share, .label-head a, .tw-btn {
  font-size: 11px;
  color: #fff;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.label-head-plugin {
  float: left;
  .label-head {
    padding: 0;
  }
}

#fb-plugin {
  float: right;
  margin: 0 0 1em;
  top: 2px;
}

@media screen and (max-width: 550px) {
  #fb-plugin {
    float: none;
  }
  .label-head-plugin {
    float: none;
    margin: 0 0 10px;
  }
}

.label-head a {
  background-color: #4267b2;
  border-radius: 0 2px 2px 0;
  display: inline-block;
  line-height: 13px;
  margin: 0 0 2px 10px;
  padding: 4px 7px 3px;
  &:after, &:before {
    content: "";
    position: absolute;
  }
}

.author-box, .author-ico li a img, .author-wrap, .post-action, .share-box, .share-title {
  position: relative;
}

.label-head {
  a {
    &:before {
      border-top: 10px solid transparent;
      border-right: 8px solid #4267b2;
      border-bottom: 10px solid transparent;
      height: 0;
      top: 0;
      left: -8px;
      width: 0;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -ms-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
    }
    &:after {
      background-color: #fff;
      border-radius: 50%;
      height: 4px;
      top: 8px;
      left: -2px;
      width: 4px;
    }
  }
  padding: 10px 0;
  display: block;
}

.author-ico {
  display: inline-block;
  li {
    display: inline-block;
  }
}

.share-art div, .share-title {
  display: inline-block;
}

.fb-btn-feed, .fb-btn-send, .fb-btn-share, .tw-btn {
  height: 20px;
  padding: 3px 5px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
  white-space: nowrap;
  zoom: 1;
}

.fb-btn-share {
  border-radius: 3px;
  background: #4267b2;
  border: 1px solid #4267b2;
}

.fb-btn-send {
  border-radius: 3px;
  background: #0084ff;
  border: 1px solid #0084ff;
}

.fb-btn-feed {
  border-radius: 3px;
  background: #f57d00;
  border: 1px solid #f57d00;
}

.fb-btn-share:hover {
  background-color: #355491;
}

.fb-btn-feed:hover {
  background-color: #e57502;
}

.fb-btn-send:hover {
  background-color: #0c7abf;
}

.tw-btn {
  &:hover {
    background-color: #1d96e0;
  }
  border-radius: 3px;
  background: #1da1f2;
  border: 1px solid #1da1f2;
}

.post-action {
  a {
    color: #111;
    margin: 0 0 0 8px;
    font-size: .99em;
    cursor: pointer;
    &:hover {
      color: #2187e7;
    }
  }
  margin: 15px 0 0;
}

#posturl {
  padding: 5px 0 5px 10px;
  border: 1px solid #e1e1e1;
  margin-bottom: 4px;
  font-size: 15px;
  color: #000;
  i {
    font-size: 14px;
  }
}

#post-url {
  user-select: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -o-user-select: all;
}

.share-art, .social-share-meta {
  float: right;
}

.share-box {
  padding: 15px 0 5px 1px;
}

.share-title {
  color: #010101;
  padding-bottom: 4px;
  font-weight: 700;
  top: -3px;
  font-size: 17px;
  &:before {
    content: "\f1e0";
    font-family: "Font Awesome 5 Free";
    padding-right: 6px;
    font-weight: 900;
  }
}

.share-art .share-art-txt, .vk-btn {
  font-size: 11px;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.share-art {
  padding: 0;
  div {
    line-height: normal;
    margin: 0 4px 0 0;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
  }
  .share-art-txt {
    font-weight: 700;
    position: relative;
    top: -1px;
    padding: 0 6px 0 5px;
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
  }
  .share-art-ico {
    color: #fff;
    padding: 0 0 0 4px;
    font-size: 13px;
  }
  .share-mail-ico, .share-print-ico {
    padding: 0 4px;
  }
  .share-fb {
    background: #f94603;
  }
  .share-tw {
    background: #3d6190;
  }
  .share-goo {
    background: #db4a39;
  }
  .share-pin {
    background: #CA2127;
  }
  .share-lin {
    background: #0077B5;
  }
  .share-print {
    background: #000;
    margin: 0;
  }
  .share-mail {
    background: #000;
  }
  .share-fb:hover {
    background: rgba(249, 70, 3, 0.8);
  }
  .share-tw:hover {
    background: rgba(61, 97, 144, 0.8);
  }
  .share-goo:hover {
    background: rgba(221, 75, 56, 0.8);
  }
  .share-pin:hover {
    background: rgba(202, 33, 39, 0.8);
  }
  .share-lin:hover {
    background: rgba(0, 119, 181, 0.8);
  }
}

.author-box img {
  margin-right: 20px;
  border-radius: 50%;
}

.author-image {
  float: left;
}

.author-title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 700;
}

.author-content {
  font-size: 1.1em;
}

.author-ico {
  width: auto;
  float: right;
  ul {
    margin: 0;
  }
  li {
    margin: 0 0 0 8px;
    padding: 0;
    a {
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      float: left;
      width: 26px;
      height: 24px;
      img {
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        top: 0;
        margin: 0;
      }
      &:hover img {
        top: -24px;
      }
    }
  }
}

.author-box, .cmm-tabs, .footer-post-plugin, .hh-related-posts, .post-info, .post-inner, .post-nav {
  box-sizing: border-box;
  background: #fff;
  padding: 1em 1.5em;
}

.blogger-iframe-colorize {
  min-height: 100px;
}

.post-nav {
  margin: 1.5em 0;
}

.home-link, .post-nav .post-nav-btn {
  display: block;
  padding: 14px 16px;
  font-size: 15px;
  position: relative;
  background: #fff;
  color: #222;
}

.home-link {
  margin: 0;
}

.post-nav {
  .post-nav-btn {
    margin: 0 5px;
  }
  .newer-link-nav.post-nav-btn i {
    position: relative;
    top: 1px;
    left: 2px;
  }
  .older-link-nav.post-nav-btn i {
    position: relative;
    top: 1px;
    left: -2px;
  }
  .newer-link-nav.post-nav-btn, .older-link-nav.post-nav-btn {
    padding: 14px 0;
  }
}

.older-link-nav {
  text-align: left;
}

.newer-link-nav {
  text-align: right;
}

.home-nav {
  text-align: center;
}

.cmt-mes {
  margin-top: 5px;
  float: left;
}

.cmt-action {
  float: right;
  a {
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    border-radius: 2px;
  }
}

.comment-emo-list img, .comment-emo-list-gif img {
  width: 20px;
  height: 20px;
  pointer-events: none;
  -webkit-user-select: none;
}

.comment-emo-list, .comment-emo-list-gif {
  text-align: center;
  padding: 10px 0;
  clear: both;
  float: left;
}

.comment-emo-list .item, .comment-emo-list-gif .item {
  float: left;
  height: 40px;
  width: 47px;
  margin: 0;
  padding: 10px 0 15px;
  transition: .33s;
  border-radius: 5px;
}

.button-parse, textarea#htmlconvert {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  outline: 0;
}

.comment-emo-list a.copy-text, .comment-emo-list-gif a.copy-text {
  cursor: pointer;
  display: block;
}

.comment-emo-list span, .comment-emo-list-gif span {
  opacity: 0;
  display: block;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0;
  color: #111;
  transition: .33s;
}

.comment-parse {
  clear: both;
}

textarea#htmlconvert {
  margin: 10px 0;
  height: 100px;
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button-parse {
  font-size: 14px;
  font-family: Roboto,sans-serif;
  margin-right: 3px;
  color: #000;
  padding: 9px 20px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s ease-in-out;
  text-transform: uppercase;
}

.hh-emoji {
  width: 20px;
  height: 20px;
  top: 3px;
}

.comment-emo-list, .comment-emo-list-gif, .comment-parse {
  display: none;
}

.cmm-tabs.simplyTab {
  margin: 0 0 .5em;
}

.sidebar-container h3.title span {
  padding: 0 0 .468em;
  border-bottom: 2px solid #111;
}

.fb-page-header {
  margin-bottom: 5px;
}

.fb-page-img {
  display: inline-block;
  margin: 0 7px 0 0;
}

.fb-page-title {
  line-height: 1.3;
  display: inline-block;
  top: -3px;
}

.fb-page-img img {
  height: 35px;
  width: 35px;
  border-radius: 20%;
}

.fb-page-content {
  color: #1d1b1b;
  border: 1px solid #eee;
}

.fb-page-content-img img {
  width: 100%;
  height: auto;
}

.fb-page-title-spon {
  font-size: 13px;
  display: inline;
}

.spon-icon {
  width: 3px;
  height: 3px;
  background: #908d8d;
  top: -2px;
  display: inline-block;
  margin: 0 5px;
}

.fb-page-content-api {
  position: relative;
  padding: 5px 0 10px 10px;
}

.fb-page-action {
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: 1px solid #eee;
  padding: 1px 9px;
  font-size: 13px;
  border-radius: 5px;
  a {
    color: #000;
  }
  svg {
    fill: #555;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
  }
  i {
    color: #5f5f5f;
    margin: 0 2px 0 0;
    position: relative;
    top: 1px;
  }
}

.fb-page-content-link a, .fb-page-title-main {
  font-weight: 700;
  color: #000;
}

.fb-page-action:hover {
  background: #f6f6f6;
}

.fb-page-content-des {
  font-size: 13px;
}

.fb-page-title-spon i {
  font-size: 11px;
}

.fb-page-widget {
  margin-bottom: 20px;
}

.hh-related-inner {
  float: left;
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 0 2% 0 0;
  margin-bottom: 1.5em;
  &:nth-of-type(3n) {
    padding: 0;
  }
  &:nth-of-type(3n+1) {
    clear: both;
  }
}

.hh-related-thumb {
  height: 160px;
}

.hh-related-img {
  display: block;
  width: 100%;
  height: 100%;
}

h3.hh-related-title {
  margin: .7em 0;
  font-size: 17px;
  min-height: 66px;
  a {
    color: #000;
  }
}

.hh-related-auth, .hh-related-cmt a {
  font-size: 14px;
  color: #333;
}

span.hh-related-auth:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #b9b9b9;
  margin: 0 .5em 0 .6em;
  position: relative;
  top: -3px;
}

.has-img {
  position: relative;
}

.cmt-count, .download-img {
  position: absolute;
  color: #fff;
  overflow: hidden;
}

.noti-count:before {
  position: absolute;
  color: #fff;
  overflow: hidden;
  content: attr(data-count);
}

.cmt-count, .noti-count:before {
  text-align: center;
  right: -2px;
  top: -3px;
  background: red;
  border-radius: 100%;
  width: 20px;
  line-height: 19px;
  height: 20px;
  font-size: 9px;
  font-weight: 700;
  transform: scale(1);
  transition: all .3s ease;
}

.FeaturedPost h3.post-title a {
  color: #000;
}

.total-cmt {
  a {
    color: #000;
  }
  margin: 0 0 10px;
  text-align: right;
  &:before {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free","Font Awesome 5 Brands";
    content: "\f080";
  }
}

.FeaturedPost {
  h3.post-title {
    margin: 10px 0 0;
  }
  .post-snippet {
    color: #000;
    margin: 15px 0 0;
  }
}

.ajax-more {
  clear: both;
}

.rt {
  width: 14px;
  position: relative;
  height: 14px;
  top: 2px;
  margin: 0 .6em 0 .3em;
}

pre {
  &.fix {
    background: rgba(241, 241, 241, 0.15);
    margin: 5px 0;
    max-height: 500px;
    padding: 0 15px;
    border-left: 4px solid #000;
  }
  code::-webkit-scrollbar, copy::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
  &.fix {
    &::-webkit-scrollbar {
      width: 6px;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 53.3%, 0.4);
    }
  }
}

.item-view .post-body {
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
}

.head-search {
  top: -3px;
}

.dark {
  top: 0;
  position: fixed;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  margin: 0;
  bottom: 0;
  &.shows {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
}

.label-box.shows {
  left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.hti {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  background: #fff;
  padding: 1em 1.5em;
  box-sizing: border-box;
  margin: .5em auto 1.5em;
}

.htl {
  float: left;
}

.htr {
  float: right;
  ul li {
    float: left;
    list-style: none;
    padding: 0 20px;
    border-left: 1px solid #ddd;
    &:last-child {
      padding: 0 0 0 20px;
    }
    a {
      color: #000;
      cursor: pointer;
    }
  }
}

#comments {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  .comment-thread ol {
    margin: 0;
    padding-left: 0;
  }
  .comment .comment-replybox-single {
    margin-left: 60px;
  }
  .comment-thread {
    .comment-replies {
      margin-left: 60px;
      margin-top: 20px;
    }
    .thread-count {
      display: none;
    }
  }
}

.comments .continue {
  display: none;
}

#comments .comment {
  margin-top: 0;
  list-style-type: none;
  padding: 0 0 25px;
  position: relative;
  .comment {
    padding-bottom: 8px;
  }
}

.comment .avatar-image-container {
  position: absolute;
  img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
  }
}

.comments .comments-content .icon.blog-author:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  background: #2196f3;
  display: inline-block;
  color: #fff;
  position: relative;
  top: 3px;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 8px;
  line-height: 13px;
  overflow: hidden;
  text-align: center;
  padding: 2px 4px 1px;
}

.comment .comment-block {
  margin-top: 10px;
  padding-bottom: 0;
  margin-left: 50px;
}

#comments .comment {
  .thread-expanded .comment-block {
    padding-bottom: 0;
  }
  .comment-header .user {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: none;
    a {
      color: #212121;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      text-transform: none;
    }
  }
  .comment-actions {
    background: 0 0;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    bottom: -10px;
    margin-bottom: 15px;
    position: absolute;
    a {
      color: #555;
      font-weight: 700;
      &:hover {
        color: #2196f3;
      }
    }
    > * {
      margin-right: 8px;
    }
  }
  .comment-header .datetime {
    bottom: 0;
    color: rgba(33, 33, 33, 0.54);
    display: inline-block;
    font-size: .89em;
    margin-left: 5px;
  }
}

#cl-lb, .comments .comments-content .loadmore.loaded, .label-box h3.title, .tg-1 {
  display: none;
}

#comments .comment {
  .comment-header .datetime a {
    color: #333;
    font-weight: 700;
  }
  .comment-content {
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1.6;
    word-break: break-word;
  }
}

/*! Responsive Design */

@media screen and (max-width: 1300px) {
  .row {
    max-width: 96%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .hh-related-thumb {
    height: 140px;
  }
  .thumb {
    height: 145px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1150px) {
  .post-header {
    display: none;
  }
  .PopularPosts h3.post-title {
    max-height: 100px;
    -webkit-line-clamp: 5;
  }
}

@media screen and (max-width: 1024px) {
  .feed-view {
    .main-wrapper, .sidebar-container {
      float: none;
      width: auto;
    }
  }
  .item-view {
    .main-wrapper, .sidebar-container {
      float: none;
      width: auto;
    }
  }
  .feed-view .sidebar-container {
    margin: 1.5em 0 0;
  }
  .footer-lower .widget {
    width: calc(100% / 2);
    padding-right: 5%;
  }
  .hh-related-thumb {
    height: 180px;
  }
}

@media screen and (min-width: 860px) and (max-width: 1024px) {
  .thumb {
    height: 185px;
  }
}

@media screen and (max-width: 980px) {
  .htr ul li:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 969px) {
  #searchbox input[type=text] {
    width: 75%;
  }
}

.label-box {
  float: none;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 55px;
  left: -300px;
  z-index: 10;
  background: #fff;
  overflow: auto;
}

.list-label-widget-content li {
  cursor: pointer;
  display: block;
  padding: 6px 13px 6px 10px;
  border-bottom: 1px dashed #eee;
  position: relative;
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.cloud-label-widget-content span {
  a, span {
    padding: 7px 14px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
  }
}

.list-label-widget-content {
  li {
    a {
      &:before {
        content: "\f07c";
        font-family: "Font Awesome 5 Free";
        margin-right: 6px;
        font-weight: 400;
        font-size: 13px;
        color: #3e3b3b;
        margin-left: 3px;
      }
      color: #222;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: .02em;
    }
    span:first-child {
      color: #222;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: .02em;
      color: #7d026d;
    }
    &:hover {
      background: #f5f5f5;
    }
    span:last-child {
      color: #222;
      font-size: 13px;
      font-weight: 400;
      float: right;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53.3%, 0.4);
  }
}

@media screen and (max-width: 860px) {
  .hh-related-thumb {
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .header-wrapper .widget:nth-of-type(2), .htr ul li:nth-child(3) {
    display: none;
  }
  .footer-lower {
    padding: 0 .5em;
  }
  .author-box, .cmm-tabs, .featured-box {
    padding: 1em;
  }
  .feed-view {
    .Blog, .sidebar-container .widget {
      padding: 1em;
    }
  }
  .footer-post-plugin, .hh-related-posts, .item-view .sidebar-container .widget, .post-info, .post-inner, .post-nav {
    padding: 1em;
  }
  .featured-box .widget {
    float: none;
    width: auto;
    box-sizing: border-box;
    padding: 0;
  }
  .thumb {
    height: 140px;
  }
  .header-wrapper .widget {
    &:nth-of-type(1), &:nth-of-type(3) {
      width: 50%;
      box-sizing: border-box;
      padding: 0 .5em;
    }
  }
  .row {
    max-width: 100%;
  }
  .footer-container {
    font-size: 15px;
  }
  .post-nav {
    .newer-link-nav.post-nav-btn, .older-link-nav.post-nav-btn {
      padding: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .social-share-meta {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .htl {
    float: none;
    text-align: center;
  }
  .htr {
    float: none;
    text-align: center;
    ul li {
      float: none;
      border-left: 0;
      display: inline-block;
    }
    margin: 1em 0 0;
  }
}

@media screen and (max-width: 620px) {
  .share-art {
    .share-art-ico {
      padding: 0 4px;
    }
    .share-art-txt {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .hh-related-inner {
    float: none;
    width: auto;
    padding: 0;
    margin-bottom: 1.5em;
  }
  h3.hh-related-title {
    font-size: 16px;
    min-height: auto;
  }
  .feed-view {
    .post-outer-container {
      float: none;
      width: auto;
      padding: 0;
      margin-bottom: 25px;
    }
    .main-wrapper h3.post-title {
      -webkit-line-clamp: 5;
      height: auto;
      padding: 0;
    }
  }
  .hh-related-thumb, .thumb {
    height: 300px;
  }
  .footer-lower .widget {
    float: none;
    padding-right: 0;
    margin: 0 0 1.5em;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .hh-related-thumb, .thumb {
    height: 250px;
  }
}

@media screen and (max-width: 460px) {
  .head-right .head-btn.head-noti {
    display: none;
  }
  .hh-related-thumb, .thumb {
    height: 220px;
  }
}

@media screen and (max-width: 415px) {
  .hh-related-thumb, .thumb {
    height: 200px;
  }
  .head-right {
    .head-btn.head-auth {
      display: none;
    }
    margin-top: 14px;
  }
  .header-wrapper .widget {
    &:nth-of-type(1) {
      width: 60%;
    }
    &:nth-of-type(3) {
      width: 40%;
    }
  }
  .htr ul li {
    padding: 0 .5em;
  }
}

@media screen and (max-width: 400px) {
  .share-art {
    .share-art-ico {
      padding: 0 4px 0 0;
    }
    div {
      margin: 0 6px 0 0;
    }
    margin: 5px 0 0;
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .htr ul li {
    display: block;
    margin: 0 0 1em;
  }
  .feed-view #meta-post, .head-right .head-btn.head-mes {
    display: none;
  }
  .snippet-thumbnail {
    padding: 0;
    box-shadow: none;
  }
  .post-outer-container {
    clear: both;
  }
  .feed-view .main-wrapper h3.post-title {
    line-height: 1.4;
  }
  .thumb {
    width: 175px;
    height: 110px;
    float: left;
    margin: 0 1em 1.3em 0;
  }
  .header-wrapper .widget {
    &:nth-of-type(1) {
      width: 70%;
      padding: 0 0 0 .5em;
    }
    &:nth-of-type(3) {
      width: 30%;
      padding: 0 .5em 0 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .PopularPosts h3.post-title {
    max-height: 100px;
    -webkit-line-clamp: 5;
  }
  .post-header {
    display: none;
  }
}

.input-required {
  position: relative;
}